@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
 

:root {
  --header-gradient: linear-gradient(to bottom right, #8a2387, #e94057, #f27121);
}

body {
  font-family: Lato;
}

header {
  background: var(--header-gradient);
  height: 100vh;
}

.intro-title {
  padding: 0 10%;
  margin-top: 30vh;
  height: 40vh;
}

.intro-title h1 {
  font-family: Lato;
  font-weight: bold;
}

.social-bar i {
  font-size: 3em;
  background: white;
  color: black;
  mix-blend-mode: screen;
  padding: 10px;

}
.social-bar a:first-child i {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 15px;
}

.social-bar a:last-child i {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-right: 15px;
}